--- 

- name: Install automatically custom SHELL (github.com/Chibraax/make_my_shell)
  hosts: all
  gather_facts: yes 
  tasks:
      - name: Clone repo 
        git:
          repo: https://github.com/Chibraax/make_my_shell
          dest: "{{ ansible_user_dir }}/make_my_shell"
          version: main

      - name: Check permission on the shell script
        shell: |
          chmod +x setup.sh
          ./setup.sh
        args:
          chdir: "{{ ansible_user_dir }}/make_my_shell/"
        register: output
      - debug:
          var : output.stdout_lines
        

